* {
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.box-one {
    background-color: #EB5757;
    padding: 20px;
    border: 20px solid #9851E0;
    margin: 20px;
}

.box-two {
    background-color: #2D9CDB;
    border: 0 solid #27AE60;
}